sudo: false
dist: trusty
language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
  - "pypy-5.3.1"
  - "pypy-5.4.1"
  - "pypy-5.6.0"
  - "pypy-5.7.1"
  - "pypy3-2.4.0"
  - "pypy2.7-5.8.0"
  - "pypy3.5-5.8.0"
before_install:
  - if [[ $TRAVIS_PYTHON_VERSION != "3.2" ]]; then pip install --upgrade pip setuptools; fi
install:
  - pip install "pkginfo<1.3"
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install twine
script: if [[ $TRAVIS_PYTHON_VERSION != "3.2" ]]; then coverage run --source=rancher setup.py test; else python setup.py test; fi
after_success: if [[ $TRAVIS_PYTHON_VERSION != "3.2" ]]; then coveralls; fi
deploy:
  provider: pypi
  user: joamag
  password:
    secure: kgO6/JqtmimSDtLX9bkz7++VycP/Pg9FXGLJl5nClyz3eeyRkZwPBqW1TlWIeWJCgB4G9EcDE4/NW+6Ql6pEq3ITPm4WaZ+Zfmp1Q76fFRcVIG+CON4kuKzXDyRcWFZcPZ/Aez1SgFN4mSQsIgXI1upZ7mwJ1U1ggtJQY8CjT1wLRC8u2W7fMPxGHbqnjTG9QvP1gOUIHb8Xnx9eesmBfOlBuE9ijf+QAuzJprIV38tEN6AnDdTvPzIanRY7DnNgS94kN3I1fMf1CYpN+W1HJu2/YFNd3irA8+F71j1mjMXr+2R8iN9VEINfQstEo4L2vJvBWjsEiAXvQNMxUtpj6+JEK3iT7d9gR9MNYs2Ad1Lgwg5E+JFCt6aPAwOLHVhh74MIpIYfkMiKbr0L/q0o0eUuGcQmMgSkRQLwnt8f3cxu/w2lA+9hdlQCEZ5bNKPNyVKNm7OBB9wWKgVboRdfyfqvRk6B2m7o+DON+bpqXrbPbucXJUG7jjS9Hhyhzp8x8FTQzEVJ01vINcRLcuR0N/z2QF2dv6jfE7fmh6vrUh+f+t836QUMFW+YgZYdJY8uC6EXvW/toR4c1UoaPjrS3AxIEJrhKrAJhtSFLhfpIwFGA4zRnCh52a/1WHDk8t4/5Izsxp2HrHMpn1CQkvK3keokQyPN+IuTIob4CnSnfSc=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: "2.7"
